/*  Загальні налаштування стилів
    Общие настройки стилей
    General style settings | Begin 
*/

:root {
    /* U can add fix width for ex. in px.
    By dafault carousel width = 100% of screen */
    --main-slide-width: 100%;

    /* Using "max-height" carousel becomes resine and adaptive.
    By default max-height = 350px */
    --main-slide-height: 350px;

    /* Main color not active dot */
    --main-dot-color: #c2c2c2;

    /* Main color active dot */
    --main-active-dot-clr: #2d2d2d;
}

/* General style settings | End */

.slider__group {
    position: relative;
    max-width: var(--main-slide-width);
    max-height: var(--main-slide-height);
    margin: 0 auto;
}

.slider__group_slide.active {
    display: block;
    position: relative;
    max-width: inherit;
    overflow: hidden;
    transition: transform 800ms ease-in-out;
}

.slider__group_img {
    max-width: inherit;
    max-height: inherit;
    object-fit: cover;
}

.slider__group_dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slider__group_dot {
    display: block;
    width: 5%;
    height: 5px;
    background-color: var(--main-dot-color);
    margin-right: 2%;
    border-radius: 5px;
}

.slider__group_dot:hover {
    cursor: pointer;
}

.slider__group_dots > span:last-child {
    margin-right: 0;
}

.slider__group_dot.active {
    background-color: var(--main-active-dot-clr);
}

.slider__group_slide {
    display: none;
    transition: transform 800ms ease-in-out;
}

.slider__group_prev-slide,
.slider__group_next-slide {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    max-height: var(--main-slide-height);
    padding: 0;
    background: 0 0;
    border: none;
    opacity: 0.5;
    outline: none;
}

.slider__group_prev-slide:hover,
.slider__group_next-slide:hover {
    opacity: 1;
}

.slider__group_prev-slide-icon,
.slider__group_next-slide-icon {
    background-image: url(../img/nav/prev.svg);
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}

.slider__group_next-slide {
    right: 0;
}

.slider__group_next-slide-icon {
    background-image: url(../img/nav/next.svg);
}
